@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
.navbar-custom{
  background-color: #232D4B;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
  color: #E57200;
  font-family: Montserrat !important;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.navbar a{
  color: white;
  font-family: Montserrat !important;
  letter-spacing: 2px;
  font-size: .8rem;
}

.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}