{% extends "map/base.html" %}

{% load static %}
{% load socialaccount %}

{% block content %}

<!--
REFERENCES
*  Title: Bootstrap
*  Author: Mark Otto, Jacob Thornton
*  Date: 5/4/2021
*  Code version: 4.6.0
*  URL: https://github.com/twbs/bootstrap#status
*  Software License: MIT License
-->

<head>
  <title>{% block title %}Map Forum{% endblock %}</title>
  <!--CSS style sheet - work in progress-->
  <link rel="stylesheet" type="text/css" href="{% static 'forum/style.css' %}">
</head>

{% if not user.is_authenticated %}
<div class="alert alert-warning" role="alert">
  You are not signed in. Please <a href="{% provider_login_url 'google' next='/forum' %}">login with Google</a> to make posts.
</div>
{% endif %}

<div class="container">

  <div class="row">
      <div>
        <div class="content-section">
          <br>

          <center>
          <div class="btn-group">
            <a type="button" class="btn btn-primary" href="/forum/" role="button">Home</a>
            <a type="button" class="btn btn-primary" href="/forum/newpost/" role="button">New Post</a>
          </div>
          </center>

          <div class="list-group ">
            <a href="/forum/posts" class="list-group-item list-group-item-action">All Posts</a>
            <a href= "{% url 'CommunitySchedule:CommunitySchedule' %}" class="list-group-item list-group-item-action">Calendar</a>
          </div>
        </div>
      </div>

    <div class="col-10">
      <!--this is where forum content goes-->
      {% block body %}
      {% endblock %}
    </div>
  </div>

</div>


{% endblock %}
