{% extends "forum/base.html" %}

{% block body %}

{% load socialaccount %}
{% load static %}

<!DOCTYPE html>
<html>
<!--
REFERENCES
*  Title: Bootstrap
*  Author: Mark Otto, Jacob Thornton
*  Date: 5/4/2021
*  Code version: 4.6.0
*  URL: https://github.com/twbs/bootstrap#status
*  Software License: MIT License
-->
<center>
    <h1 class=display-4>{{post.title}}</h1>
</center>

<div class="container">
    <p>Posted on {{post.pub_date}} by {{post.author}}</p>
    {{post.detail}}

</div>

</html>

{% endblock %}