{% extends "map/base.html" %}

{% block content %}

{% load static %}
{% load socialaccount %}


{% if user.is_authenticated %}
<div class="container-fluid">
  <div class="row">
    <!--creating the sidebar-->
    <div class="col-4">
      <!--this is where we'll put personal information-->
      <div class="card top-buffer" style="width: 18rem;">
        <div class="card-body">
          <h1 class="card-title display-4 justify-content-center">hello, {{user.username}}</h1>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name: {{user.get_full_name}}</li>
          <li class="list-group-item">Email: {{user.email}}</li>
          <li class="list-group-item">Joined: {{user.date_joined}}</li>
        </ul>
        <div class="card-body mx-auto">
          <a href="{% url 'schedule:schedule' %}" class="card-link">view or edit schedule</a>
        </div>
      
      </div>
    </div>

    <div class="col-8">
      <!--this is where we'll put user activity stuff-->
      <div id="map" class="top-buffer">
        <h2>My Upcoming Events</h2>
        <div>
        {% if events %}
          {% for event in events %}
            <li><a href="{% url 'schedule:event_edit' event.id %}">{{event.title}}</a> - {{event.start_time}} at {{event.address}}</li>
          {% endfor %}
        {% else %}
            <p>No events yet!</p>
        {% endif %}
        </div>
      </div>

      <div id="forum" class="top-buffer">
        <h2>My Posts</h2>
        <div>
        {% if my_posts %}
          {% for post in my_posts %}
            <!--confirm delete modal (hidden until prompted)-->
            <div class="modal" tabindex="-1" role="dialog" id="confirm-delete">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>You are about to delete this item. This action cannot be undone. Proceed anyways?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-default" href="{% url 'forum:post_remove' pk=post.pk %}"><span class="btn btn-danger left">Delete</span></a>
                  </div>
                </div>
              </div>
            </div>

            <li><a href="/forum/{{ post.id }}/">{{ post.title }}</a> - posted {{post.pub_date}}
              <a class="btn btn-default" href="#"><span class="btn btn-danger left" data-toggle="modal" data-target="#confirm-delete">Delete</span></a>
          {% endfor %}
        {% else %}
            <p>No posts yet!</p>
        {% endif %}
        </div>
      </div>

      

    </div>
  </div>
</div>

<!--prompts login if user isn't already logged in-->
{% else %}

<!--trying to get a popup window-->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You must log in to view this page
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" href="{% provider_login_url 'google' next='/myprofile' %}" class="btn btn-primary">Sign in</button>
      </div>
    </div>
  </div>
</div> -->
<center>
<div class="container top-buffer">
  <div class="jumbotron">
    <div class="container">
      <h2 class="lead">Please sign in.</h2>
      <a href="{% provider_login_url 'google' next='/myprofile' %}">Login with Google</a>
    </div>
  </div>
  <div class="container">    
</div>

</center>

{% endif %}

{% endblock %}
