{% extends "forum/base.html" %}

{% block body %}

{% load socialaccount %}
{% load static %}

<!DOCTYPE html>
<html>

<center>
    <h1 class=display-4>New Post</h1>
</center>

<!--working on making this look nicer-->
<div class="container-fluid">
    <form method="post" >
        {% csrf_token %}

        <div class="input-group mb-3">
            <span class="input-group-text" id="titleField">Post Title</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="titleField" name="titleField">
          </div>


        <div class="input-group">
            <span class="input-group-text">Post Content</span>
            <textarea class="form-control" id="deep_text" name="deep_text" aria-label="deep_text"></textarea>
          </div>
        <br>
        <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Post</button>
      </div>
      </form>
    
</div>



</html>

{% endblock %}