{% extends "./base.html" %}

{% block content %}
{% load static %}

{% load socialaccount %}
<center>


  <h1 class="display-4"> Welcome to Campus Map! </h1>

  <img src="https://i.pinimg.com/originals/e9/ab/70/e9ab705749c3d816b9241c112564bd4d.jpg" class="img-fluid"
    alt="UVA's rotunda" width="700" height="300">

  <div class="container">
    <div class="card">
      <div class="card-body">
        {% if user.is_authenticated %}
        <p>How's it going, {{ user.username }}?</p>

        <div class="card-footer">
          <button type="button" class="btn btn-dark">
            <a href="{% url 'logout' %}"> Sign out </a>
          </button>
        </div>

        {% else %}
        <h2 class="lead">Please sign in.</h2>
        <a href="{% provider_login_url 'google' %}">Login with Google</a>
        {% endif %}
      </div>

    </div>

  </div>


  <div class="container">

  </div>
</center>

{% endblock %}