{% extends "./base.html" %}

{% block content %}
  {% load static %}

  {% load socialaccount %}
  <h1> Welcome to Campus Map! </h1>

  <div class="container">
    {% if user.is_authenticated %}
      <p>How's it going, {{ user.username }}?</p>

    {% else %}
      <h2>Please sign in.</h2>
      <a href="{% provider_login_url 'google' %}">Login with Google</a>
    {% endif %}
  </div>


  <div class="container">
    <button type="button" class="btn btn-primary">
    <a href="{% url 'logout' %}"> Sign out </a>
    </button>
  </div>


{% endblock %}
