{% extends 'schedule/base.html' %}

{% block title %}
Event
{% endblock %}
{% load socialaccount %}

{% block content %}
<div class="clearfix">
  <a class="btn btn-info left" href="{% url 'schedule:schedule' %}"> Schedule </a>
</div>

<form method="post">
  {% csrf_token %}
  <table class="form form-table">
    {{ form }}
    <tr>
        <td colspan="2"><button type="submit" name="delete" class="btn btn-danger left">Delete</button></td>
        <td colspan="2"><button type="submit" name="location" class="btn btn-info center">View Location</button></td>
        <td colspan="2"><button type="submit" name="save" class="btn btn-success right">Save</button></td>
    </tr>
  </table>
</form>
{% endblock %}
<!-- Hui Wen
Date made: 24 July 2018
Web browser Calendar source code
https://www.huiwenteo.com/normal/2018/07/24/django-calendar.html -->
