{% extends 'schedule/base.html' %}

{% block title %}
Event
{% endblock %}
{% load socialaccount %}

{% block content %}
<div class="container">
  <br>
  <center>
  <h1>Create Event</h1>
</center>
<div class="clearfix">
  <a class="btn btn-info left" href="{% url 'schedule:schedule' %}"> Community Calendar </a>
  <form method="post">
    {% csrf_token %}
  <td colspan="2"><button type="submit" name="location" class="btn btn-info right">View Location</button></td>
</div>


  <table class="form form-table">
    <!--confirm delete modal (hidden until prompted)-->
    <div class="modal" tabindex="-1" role="dialog" id="confirm-delete">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>You are about to delete this item. This action cannot be undone. Proceed anyways?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" name="delete" class="btn btn-danger left">Delete</button>
          </div>
        </div>
      </div>
    </div>

    {{ form }}
    <tr>
        <td colspan="2"><button type="submit" name="save" class="btn btn-success left">Save</button></td>
        <td colspan="2"><button type="button" class="btn btn-danger left" data-toggle="modal" data-target="#confirm-delete">Delete</button></td>
    </tr>
  </table>
</form>
</div>
{% endblock %}
<!-- Hui Wen
Date made: 24 July 2018
Web browser Calendar source code
https://www.huiwenteo.com/normal/2018/07/24/django-calendar.html -->
