<!-- Hui Wen
Date made: 24 July 2018
Web browser Calendar source code
https://www.huiwenteo.com/normal/2018/07/24/django-calendar.html -->
{% extends 'schedule/base.html' %}

{% block content %}
{% load socialaccount %}
<center>
<h1 class="top-buffer">My Schedule</h1>
</center>
<div class="container">
<div class="clearfix">
	<center>
	<a class="btn btn-info left" href="{% url 'schedule:schedule' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-info right" href="{% url 'schedule:schedule' %}?{{ next_month }}"> Next Month </a>
	<a class="btn btn-info right" href="{% url 'schedule:event_new' %}"> Enter Event </a>
</center>
</div>

{{ calendar }}
</div>
{% endblock %}
<!-- Hui Wen
Date made: 24 July 2018
Web browser Calendar source code
https://www.huiwenteo.com/normal/2018/07/24/django-calendar.html -->
